body {
	background: white;
	font-family: "inter";
	margin-left:50px;
}

.close-button {
	top:50%;
	right:0%;
	font-size:large;
	background-color: lightgrey;
}

.close-button:hover{
	background:#bbb;
}