html {
	font-size: var(--font-size-base);
}

body {
	font-family: 'Inter', 'Arial', sans-serif;
	padding: var(--spacing-medium);
	display: flex;
	flex-flow: row nowrap;
	gap: var(--spacing-large);
}

.overview__button {
	color: var(--color-tertiary);
}

.overview__button:hover,
.overview__button--active {
	color: var(--color-primary);
}

.component {
	display: none;
	flex-flow: column nowrap;
	gap: var(--spacing-large);
}

.component--visible {
	display: flex;
}

.component-state {
	display: flex;
	width: 100%;
	flex-flow: column nowrap;
	gap: var(--spacing-small);
}

.component-state__name {
	color: var(--color-tertiary);
}


/*accordion*/
.accordion_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	background-color: aliceblue;
}
.border{
	border: 1px solid black;
}
.accordion_button{
	width: 300px;
	height: 50px;
}
.accordion_panel{
	width: 300px;
	padding: 1rem;
	border-top: 1px solid black;
}
p{
	font-size: var(--font-size-small);
}
/*accordion*/


/*button*/
.button-default, .button-hover, .button-active{
	display: flex;
	width:100px;
	height:40px;
	justify-content: center;
	align-items: center;
	margin:5px;
	border-radius:5px;
	cursor:pointer;
	border: 1px solid black;
	font-size: var(--font-size-small);
}

.button-hover:hover {
	background-color: coral;
}

.button-active {
	background-color: lightblue;
}

.button-active:hover{
	background: white;
}
/*button*/


/*CheckBox*/
.custom-container {
	display:block;
	position:relative;
	padding-left:35px;
	margin-bottom: 12px;
	cursor:pointer;
	font-size:16px;
}

.custom-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width:0;
}

.custom-checkmark {
	position:absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color:white;
	border-radius:8px;
}

.custom-container:hover input ~ .custom-checkmark {
	background-color:lightgrey;
}

.custom-container input:checked ~ .custom-checkmark {
	background-color: coral;

}

.custom-checkmark:after {
	content:"";
	position:absolute;
	display: none;
}

.custom-container input:checked ~ .custom-checkmark:after {
	display: block;
}
/*CheckBox*/


/*close-button*/
.close-button {
	top:50%;
	right:0%;
	font-size:large;
	background-color: lightgrey;
}

.close-button:hover{
	background:#bbb;
}
/*close-button*/


/*diver*/
.dashed{
	border-top:3px dashed black;
}

.dotted{
	border-top: 3px dotted black;
}

.solid{
	border-top: 3px solid black;
}

.rounded{
	border-top: 8px solid black;
	border-radius:5px;
}
/*diver*/


/*umeric-stepper*/
#points {
	font-size:medium;
	padding-left:10px;
}
/*umeric-stepper*/


/* pupup */

.line{
	border-top: 1px solid black ;
	margin: 10px;
	width: 200px;
}

.button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.costum-button{
	height: 50px;
	width: 200px;
	background-color: rgb(98, 216, 98);
	border-radius: 10px;
	border: 1px solid black;
	color: white ;

}
.costum-button:hover{
	background-color: rgb(255, 0, 0);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	color: green;
	background-color: rgb(0, 0, 0);
	width: 500px;
	max-width: 80%;
  }
  
  .modal.active {
	transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
  }
  
  .modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
	border: 1px solid rgb(255, 255, 255) ;
	padding: 1px 6px;
  }

  .modal-header .close-button:hover{
	background-color: lightgray;
	border-radius: 100%;
  }
  
  .modal-body {
	padding: 10px 15px;
  }
  
  #overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
  }
  
  #overlay.active {
	opacity: 1;
	pointer-events: all;
  }

/* pupup */




