body{
	font-family: "inter";
	margin-left:50px;
}


.button-default, .button-hover, .button-active{
	display: flex;
	width:100px;
	height:40px;
	justify-content: center;
	align-items: center;
	margin:5px;
	border-radius:5px;
	cursor:pointer;
}

.button-hover:hover {
	background-color: coral;
}

.button-active {
	background-color: lightblue;
}

.button-active:hover{
	background: white;
}